<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- meta viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Crafty Simple HTTP Server">
        <meta name="author" content="ptarrant - craftycontrol.com">
        <meta http-equiv="refresh" content="60">
        <meta charset="UTF-8">

        <style>
            body {
              padding-top: 3.5rem;
            }
        </style>

        <title>Server Status</title>
    </head>
    <body>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3"> {{ server_name }} Server Status</h1>
                    <p>Welcome to our Minecraft Server Status Page! Below you will find some information about our server!</p>

                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Server Status</h2>
                        <p>{% raw server_status %}</p>
                    </div>

                    <div class="col-md-4">
                        <h2>Rules</h2>
                        <p>Our Server has some simple rules we wish for you to follow</p>
                        <p>
                            <ul>
                                {% for rule in rules %}
                                <li>{{ rule }}</li>
                                {% end %}
                            </ul>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h2>About Our Server</h2>
                        <p>{{ about }}</p>
                    </div>
                </div>

            </div>

            <hr>

            </div> <!-- /container -->
        </main>

        <footer class="container text-right">
            <p>Page hosted by <a href="https://craftycontrol.com" target="_blank"> Crafty Control Minecraft Server Controller</a> </p>
        </footer>

    </body>

<!-- Jquery / Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>