Minecraft Server Started at:<br /> <b>2019-10-17 07:52:42</b>. <br /><br />CPU Usage: <b>0.54375%</b> across 16 Cores.  <br />MEMORY Usage: <b>20.9%</b>.  <br /><br />My Average Load is <b>(1.5, 1.2, 1.15)</b>.  <br /><br />